<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue Practice</title>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id='firstDiv'>
            <p>number is: {{ number }}</p>
            <ul>
                <li v-for='number_ in numbers'>
                    {{ number_}}
                </li>
            </ul>
        </div>
        <div id='secondDiv'>
            <button v-on:click='openCloseDoor'>Open/Close Door</button>
            <p v-if='isDoorOpen'>Open for business!</p>
            <p v-else-if='!isDoorOpen'>Closed!</p>
        </div>

        <script src="index.vue"></script>
    </body>
</html>